.container {
  max-width: 1145px;
  padding: 0 15px;
  margin: 0 auto;
}
.container_product {
  max-width: 1145px;
}

.main-header {
  background-image: url(../img/main_bg.png);
  background-repeat: no-repeat;
  background-position: right 0 top 36px;
}

.header {
  margin-top: 30px;
  margin-bottom: 190px;
}
.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__item {
  font-size: 18px;
  line-height: 26px;
  margin-right: 45px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  color: #2E1720;
  opacity: 0.6;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.header__link_active {
  opacity: 1;
}
.header__link:hover {
  opacity: 1;
}
.header__btn {
  padding: 10px 20px;
  background-color: #F10C6D;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.header__btn:hover {
  background-color: #b60750;
}

.main {
  max-width: 557px;
  padding-bottom: 190px;
}
.main__title {
  font-size: 70px;
  line-height: 130%;
  color: #2E1720;
  font-weight: 700;
}
.main__title-span {
  color: #F10C6D;
  position: relative;
  display: inline-block;
}
.main__title-span::before {
  content: "NFTS";
  position: absolute;
  left: 2px;
  top: 2px;
  opacity: 0.6;
  -webkit-text-stroke: 1px #000000;
  color: transparent;
}
.main__title-span::after {
  content: "";
  position: absolute;
  background-image: url(../img/str_nft.svg);
  width: 149px;
  height: 15px;
  top: 95%;
  left: 0;
}
.main__subtitle {
  margin-top: 35px;
  margin-bottom: 40px;
  opacity: 0.6;
  color: #2E1722;
  line-height: 150%;
}
.main__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__btn {
  background-color: #F10C6D;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  margin-right: 80px;
  font-size: 18px;
}
.main__btn:hover {
  background-color: #d3095d;
}
.main__video-text {
  margin-left: 15px;
}

.product {
  padding-bottom: 70px;
}
.product__title {
  font-size: 39px;
  line-height: 120%;
  color: #2E1720;
}
.product__subtitle {
  font-size: 18px;
  line-height: 150%;
  color: #2E1720;
  opacity: 0.6;
  max-width: 480px;
}
.product__flex-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}
.product__nav-img {
  padding: 13px 12.16px 11px 13px;
}
.product__nav-btn {
  background: transparent;
  border: 1px solid rgba(46, 23, 32, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}
.product__nav-btn_prev {
  margin-right: 20px;
}

.card {
  padding: 20px 20px;
  background: rgba(255, 255, 255, 0.13);
  -webkit-box-shadow: 4px 4px 10px 2px rgba(35, 67, 78, 0.1);
          box-shadow: 4px 4px 10px 2px rgba(35, 67, 78, 0.1);
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 10px;
}
.card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 14.7px;
}
.card__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__user-info {
  margin-left: 8px;
}
.card__user-name {
  font-size: 14px;
  line-height: 120%;
  color: #2E1720;
}
.card__user-nick {
  font-size: 10px;
  line-height: 120%;
  color: #2E1720;
  opacity: 0.6;
  margin-top: 4px;
}
.card__footer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}
.card__nft-name {
  font-size: 18px;
  line-height: 120%;
  font-weight: 700;
  color: #2E1720;
  margin-top: 14px;
}
.card__nft-info {
  font-size: 16px;
  line-height: 120%;
  color: #2E1720;
  opacity: 0.6;
  margin-bottom: 7px;
}
.card__nft-info_value {
  font-size: 14px;
  line-height: 120%;
  font-weight: 700;
  color: #2E1720;
}

.swiper {
  margin-top: 35px;
}
